<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevin.kk_application.Activity"
    android:sharedUserId="test.kk">

    <permission android:name="android.permission.WRITE_APN_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/composer_button"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ViewTouchActivity" />
        <activity android:name=".ViewGroupActivity" />
        <activity android:name=".TouchAndMoveActivity" />
        <activity android:name=".LauncherDemo1" />
        <activity android:name=".ViewPageActivity" />
        <activity android:name=".Rotate3DActivity"/>
        <activity android:name=".MoreInFragments"
            android:theme="@style/AppTheme.MoreInFragmentsStyle"/>
    </application>

</manifest>